body{
    background-color: #4b675a;
    text-align: center;
    font-family: arial;
  }
  fieldset{
    background-color: beige;
  }
  h1, legend{
    color: beige;
  }
  button{
    background-color: beige;
    color: #4b675a;
  }
  button:hover{
    background-color:#4b675a;
    color: beige;
    cursor: pointer;
  }
  div{
    color: beige;
    font-size: 20; 
  }
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }